<!--
 * @Description: 首页
 * @Author: F-Stone
 * @Date: 2021-12-01 14:21:47
 * @LastEditTime: 2021-12-02 02:18:57
 * @LastEditors: F-Stone
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= PROJECT_NAME %></title>
    </head>
    <body>
        <h1 class="page-title">首页</h1>
        <p class="page-desc">测试页面 + 2</p>
        <img src="<%= require("../src/asset/images/webpack.png") %>" alt="">
        <img src="<%= IMG_PATH %>/public-webpack.png" alt="" />
    </body>
</html>
